parameters:
    paths:
        - .
    level: 0
    excludePaths:
        - ./storage/*
        - ./vendor/*
        - ./resources/.vscode/*
        - ./resources/css/*
        - ./resources/fonts/*
        - ./resources/js/*
        - ./resources/lang/*
        - ./resources/sass/*
        - ./resources/ts/*
