includes:
    - ./phpstan-baseline.neon
parameters:
    paths:
        - .
    level: 2
    excludePaths:
        - ./storage/*
        - ./vendor/*
        - ./resources/.vscode/*
        - ./resources/css/*
        - ./resources/fonts/*
        - ./resources/js/*
        - ./resources/lang/*
        - ./resources/sass/*
        - ./resources/ts/*
